@* @model DotNetCoreSqlDb.Models.Login; *@

@{
    ViewData["Title"] = "Login";
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

<h1>Login</h1>
<hr />

<form asp-action="Login" asp-route-returnurl="@returnUrl" method="post">
    <p>User type:</p>
    <select name="UserType">
        <option value="Admin">Admin</option>
        <option value="Business">Business</option>
        <option value="TeamMember">Team Member</option>
    </select>
    <br /><br />
    <input type="password" name="Password" />
    @{
        Console.WriteLine("LOGIN");
        Console.WriteLine((string)TempData["login"]);

    }

    @if ((string)TempData["login"] == "fail")
    {
        
        <p style="color: red">Incorrect password, please try again.</p>
    }
    else
    {
        <br /><br />
    }

    <button type="submit" value="save">Login</button>
</form>